* {
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: "myfont";
    src: url("fonts/odstemplik/odstemplik.otf") format("opentype"), url("fonts/odstemplik/odstemplikBold.otf") format("opentype");
}

.top-image {
    background-image: url("imgs/img01.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.top-text {
    text-align: center;
    padding: 250px 0;
}

header h1 {
    font-size: 100px;
    font-family: "myfont";
}

.navbar-brand {
    font-family: "myfont";
}

nav .fas, nav .far{
    color: #888 ;
}

.night-sky {
    background-image: url("imgs/fix-bg.jpg");
    background-attachment: fixed;
    text-align: center;
    padding: 210px 0;
}

.night-sky h2 {
    font-family: "myfont";
    font-size: 80px;
    padding-bottom:50px;
}

.carousel-item {
    background-attachment: fixed;
    height: 500px;
}

.survice-list {
    padding: 50px;
    background-color: #333;
}

.survice-list h2 {
    font-family: "myfont";
    text-align: center;
    font-size: 80px;
}


@media screen and (min-width:480px) {
    /*　画面サイズが480pxからはここを読み込む　*/
    .carousel-item { height: 100%;}
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    .carousel-item {height: 500px;}
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .carousel-item {height: 500px;}
}


.service-img {
    width: 100%;
}

.service-description {
    padding-bottom: 10px;
}

.service-description h3 {
    padding-top: 30px;
}

.information-list {
    margin: 20px;
    padding: 20px;
    border: solid 2px white;
}


.night-sky .fas {
    font-size: 100px;
    padding: 40px 20px 20px 20px;
}

footer {
    background-color: #333;
    padding: 30px;
}

footer p {
    text-align: right;
    margin: 0;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #aaa;
}

footer ul li a:hover {
    color: white;
    text-decoration: none;
}
